@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    min-height: 100vh;
}

body {
    font-family: "Inter", sans-serif;

    background: radial-gradient(circle at top left,
            #1e3a8a 0%,
            #0f172a 45%,
            #020617 100%);

    color: #ffffff;

    overflow-x: hidden;
}

#root {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 20px;
}